{% extends "BaseApp/mybase.html" %}
{% block content %}
{% load staticfiles %}

<!-- Main content -->
<section class="content">

    <div class="row">


        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#about" data-toggle="tab">About</a></li>
                    <li><a href="#actions" data-toggle="tab">Actions</a></li>
                    <li><a href="#log" data-toggle="tab">Log</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="about">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{ p_user.appuser.image }}" alt="User profile picture">
                            <h3 class="profile-username text-center">{{ p_user.appuser }}</h3>
                            <p class="text-muted text-center">Application User</p>

                            <ul class="list-group list-group-unbordered">


                                <li class="list-group-item">
                                    <b>Gender</b> <a class="pull-right">{{ p_user.appuser.gender }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Birthdate</b> <a class="pull-right">{{ p_user.appuser.birthdate }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>E-Mail</b> <a class="pull-right">{{ p_user.email }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Address</b> <a class="pull-right">{{ p_user.appuser.address }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Facebook Profile</b> <a href="{{ socialaccount.extra_data.link }}" class="pull-right">Link</a>
                                </li>


                            </ul>
                            {% ifequal p_user user %}
                            <a href="#" class="btn btn-primary btn-block"><b>Edit Profile</b></a>
                            {% endifequal %}
                        </div><!-- /.box-body -->
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="actions">
                        <!-- The timeline -->
                        <a href="#" class="btn btn-block btn-social btn-flat btn-info">
                            <i class="fa fa-envelope"></i>
                            Send a message
                        </a>
                        <a href="#" class="btn btn-block btn-social btn-flat btn-success">
                            <i class="fa fa-user-plus"></i>
                            Invite to follow
                        </a>
                        <a href="#" class="btn btn-block btn-social btn-flat btn-danger">
                            <i class="fa fa-ban"></i>
                            Remove this user
                        </a>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="log">

                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->
{% endblock %}